
.mt-custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .circle-container {
    margin-bottom: 5px;
  }
  
  .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 20px solid rgb(22, 21, 21);
    box-shadow:
      10px 10px 10px rgba(0, 0, 0, 0.5),
      /* Sombra exterior */
      inset 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
    /* Sombra interior */
    cursor: pointer;
  }
  
  .col {
    font-family: 'Permanent Marker', cursive;
    font-size: 9em;
    line-height: 1;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  }
  
  body {
    background-image: url('https://img.freepik.com/free-photo/wall-with-white-graffiti_1194-9893.jpg?w=740&t=st=1703201818~exp=1703202418~hmac=2bcbdc7c60ddd86491425422b7448db1559cb036aea7af9a137db959dc73499f');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .light-red {
    opacity: 7;
    box-shadow: 0 0 30px 30px rgba(207, 130, 130, 0.7), inset 0 0 10px 10px rgba(207, 130, 130, 0.7);
  }
  
  .light-yellow {
    opacity: 7;
    box-shadow: 0 0 30px 30px rgba(250, 242, 135, 0.7), inset 0 0 10px 10px rgba(250, 242, 135, 0.7);
  }
  
  .light-green {
    opacity: 7;
    box-shadow: 0 0 30px 30px rgba(126, 241, 111, 0.7), inset 0 0 10px 10px rgba(126, 241, 111, 0.7);
  }
  
  .lila {
    background-color: #982ffa;
  }

  .light-lila {
    opacity: 7;
    box-shadow: 0 0 30px 30px rgba(207, 156, 231, 0.7), inset 0 0 10px 10px rgba(207, 156, 231, 0.7);
  }

  .purple-button {
    color: #982ffa;
  }